body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font: size 15px;
    line-height: 1.5;
    padding:0;
    margin:0;
    background-color: #f2f2f2;
    
}
.container{
    widows: 80%;
    margin: auto; /*so that things move to the middle*/
    overflow: hidden; /*To avoid the scroll back*/

}
/*header*/
header{
    background:burlywood;
    color:green;
    padding-top:30px;
    min-height:70px; /*min in order to improvise for the responsiveness*/
    border-bottom: green 5px solid;
}
header a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font: size 20px;
}
/*making the nav links horizontal*/
header ul{
    margin:0;
    padding:0;

}
header li{
    
    display:inline;
    padding:  0 20px 0 20px;/*to cater for the four sides*/
    

}
nav{
    float:right;
}
/*show*/
#show{
    width:60%;
    float: left;
    margin-top:10px;
}
/*Lists*/
#list{
    width: 40%;
    background-color: beige;
    float: right;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    color: brown;
    padding: 0;
    margin-right: 30px;
    margin-bottom: 10px;
    padding-left: 40px;
    margin-top: 10px;

/*footer*/
font-style: italic;
color: black;
float:right;

}
@media screen and (max-width: 500px) {
    #show {    
    float: none;
    display: block; 
    width: 100%;
    background-size: 500px;  
    size: 500px;
    }
    #list{
    float: none;
    display: block;
    width: 100%;
    }
    #list h1 {
        text-align: center;
    }



    